/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Open Sans', sans-serif;
*/

* {
	--color_scheme: green;
	--color_scheme2: white;
}

* {
	font-family: 'Alfa Slab One', cursive;
	margin: 0px;
}

ul {
	padding-inline-start: 0px;
}

.hr {
	display: block;
	width: 75%;
	height: 3px;
	background: lightgrey;
	margin-bottom: 3em;
	margin-top: 3em;
}

header { 
	position: relative;
	height: 370px; 
	width: 100%;
	background: var(--color_scheme);
	text-align: center;
	margin: 0;
}

#header_content {
	position: absolute;
	top: 40%;
	width: 100%;
	transform: translateY(-50%);
}

#title {
	font-family: 'Alfa Slab One', cursive;
	font-size: 55px;
	letter-spacing: 15px;
	color: var(--color_scheme2);
}

#subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	color: var(--color_scheme2);
}

#resume {
	position: absolute;
	top: 10px;
	right: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	color: var(--color_scheme2);
	padding: 10px;
}

#resume::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color_scheme2);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


#resume:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.box {
	position: relative;
	margin: 15px;
	height: 250px;
	width: 250px;
	display: inline-block;
}

h1 {
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	font-size: 45px;
	font-weight: lighter;
	letter-spacing: 4px;
	color: var(--color_scheme);
}

#projects_header {
	background: var(--color_scheme);
}

#projects_header_content {
	transform: translateY(20%);
	text-align: center;
	display: inline;
	margin: 50px;
}

#projects_header h1 {
	color: var(--color_scheme2);
}

.blurb {
	display: inline-block;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	border-left: 10px solid var(--color_scheme2);
	max-width: 750px;
	/*min-width: 500px;*/
}

.blurb_title {
	font-family: 'Alfa Slab One', cursive;
	color: black;
	font-size: 40px;
	margin-bottom: .5em;
}

.blurb_subtitle {
	font-family: 'Alfa Slab One', cursive;
	font-size: 20px;
	margin-bottom: .6em;
	color: #444;
}

.blurb_info, p {
	font-family: 'Open Sans', sans-serif;
	color: black;
	margin-bottom: 1.4em
}

.blurb_info li {
	font-family: 'Open Sans', sans-serif;
	color: black;
	margin-bottom: .6em
}

#motivation {
	display: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 100px;
    width: 75%;
	max-width: 600px;
}

#motivation p {
	line-height: 1.6em;
}

#hidden {
	visibility: hidden;
	display: none;
}

#filter {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

#filter li {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .1em;
	list-style-type: none;
	display: inline-block;
	padding: 7px 15px;
	margin: 3px;
	background: var(--color_scheme);
	color: var(--color_scheme2);
	border: 1px solid var(--color_scheme);
}

.date {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	margin-bottom: 1em;
}

#projects {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 300px;
	margin-top: 50px;
	margin-bottom: 60px;
	margin-right: 100px;
}

a {
	color: inherit;
}

#filter li:hover {
	background: var(--color_scheme2);
	color: var(--color_scheme);
}

.filter_active {
	background-color: var(--color_scheme2) !important; 
	color: var(--color_scheme) !important;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	height: 70px;
	width: 100%;
	background: var(--color_scheme);
	color: var(--color_scheme2);
	padding: 25px 0px;
	text-align: center;
}

.icon:hover {
	opacity: .6;
}
.icon {
	display: inline-block;
	padding: 10px;
}
#contact_container {
	text-decoration: none;
}

#hello {
	margin-bottom: .6em;
	font-size: 
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*width: 100%;*/
}

.flex_container div {
	display: inline-block;
}

#llc {
	font-family: Courier;
}